@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@font-face {
    font-family: 'helvetica-neue';
    src: url('/assets/fonts/eng/helveticaneue.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'helvetica-neue';
    src: url('/assets/fonts/eng/HelveticaNeue-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica-neue-geo';
    src: url('/assets/fonts/geo/Helvetica-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica-neue-geo';
    src: url('/assets/fonts/geo/Helvetica-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

html,
body {
    font-family: 'helvetica-neue';
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #2c293e; 
} 
::-webkit-scrollbar-thumb {
    background: #E31221; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

@tailwind base;
@tailwind components;
@tailwind utilities;

